h4{
    font-family: 'Comfortaa', cursive;
}
p{
    font-family: 'Comfortaa', cursive;
    color: #000;
    margin-bottom: 0;
}
input {
    width: 100%;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 7px 7px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    margin-bottom: 20px;
}
input:active, input:focus {
    outline: none;
    box-shadow: none;
    border-color: #03b1b2;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    display: flex;
    flex-direction: column;
}
.btn-1{
    font-family: 'Comfortaa', cursive;
    width: 20%;
    color: #fff;
    background: #03b1b2;
    padding: 7px 10px;
    transition: 0.3s;
    border: solid 1px #03b1b2;
    border-radius: 4px;
    cursor: pointer;
}
.btn-1:hover{
    background: #03dbdc;
    border: solid 1px #03dbdc;
}
.btn-2{
    font-family: 'Comfortaa', cursive;
    width: 20%;
    color: #fff;
    background: #b9b9b9;
    padding: 7px 10px;
    transition: 0.3s;
    border: solid 1px #b9b9b9;
    border-radius: 4px;
    cursor: pointer;
}
.btn-2:hover{
    background: #d7d7d7;
    border: solid 1px #d7d7d7
}