*{
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../images/school.jpg);
}

p{
    margin: 20px 0 20px 0;

}

a{
    color: #f3fff7;
    text-decoration: none;
}

button {
    width: 100%;
    color: #fff;
    background: #03b1b2;
    padding: 12px 12px;
    transition: 0.3s;
    border: solid 1px #03b1b2;
    cursor: pointer;
}

button:hover{
    background: #02a2a3;
    border: solid 1px #02a2a3;
}
.btn {
    width: 100%;
    color: #fff;
    background: #03b1b2;
    padding: 15px 12px;
    transition: 0.3s;
    border: solid 1px #03b1b2;
    cursor: pointer;
}

.btn:hover{
    background: #02a2a3;
    border: solid 1px #02a2a3;
}

input {
    width: 100%;
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}
input:active, input:focus {
    outline: none;
    box-shadow: none;
    border-color: #03b1b2;
}

.form {
    width: 90%;
}

.btn-back{
    width: 100%;
    color: #fff;
    background: #b9b9b9;
    padding: 15px 12px;
    transition: 0.3s;
    border: solid 1px #b9b9b9;
    border-radius: 4px;
    cursor: pointer;
}

.btn-back:hover{
    background: #afafaf;
    border: solid 1px #afafaf
}

.content-form {
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.register-error {
    color: #b30e0e;
}

.inp{

    width: 93%;
}
.inp-1{
    margin-bottom: 35px;
    width: 93%;
}